<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Coat hanger abortions
</string>
<string>Man meat
</string>
<string>Autocannibalism
</string>
<string>Vigorous jazz hands
</string>
<string>Flightless birds
</string>
<string>Pictures of boobs
</string>
<string>Doing the right thing
</string>
<string>Hunting accidents
</string>
<string>A cartoon camel enjoying the smooth, refreshing taste of a cigarette
</string>
<string>The violation of our most basic human rights
</string>
<string>Viagra (r)
</string>
<string>Self-loathing
</string>
<string>Spectacular abs
</string>
<string>An honest cop with nothing left to lose
</string>
<string>Abstinence
</string>
<string>A balanced breakfast
</string>
<string>Mountain Dew Code Red
</string>
<string>Concealing a boner
</string>
<string>Roofies
</string>
<string>Glenn Beck convulsively vomiting as a brood of crab spiders hatches in his brain and erupts from his tear ducts
</string>
<string>Tweeting
</string>
<string>The Big Bang
</string>
<string>Amputees
</string>
<string>Dr. Martin Luther King, Jr.
</string>
<string>Former President George W. Bush
</string>
<string>Being marginalized
</string>
<string>Smegma
</string>
<string>Laying an egg
</string>
<string>Cuddling
</string>
<string>Aaron Burr
</string>
<string>The Pope
</string>
<string>A bleached asshole
</string>
<string>Horse meat
</string>
<string>Genital piercings
</string>
<string>Fingering
</string>
<string>Elderly Japanese men
</string>
<string>Stranger danger
</string>
<string>Fear itself
</string>
<string>Science
</string>
<string>Praying the gay away
</string>
<string>Same-sex ice dancing
</string>
<string>The terrorists
</string>
<string>Making sex at here
</string>
<string>German dungeon porn
</string>
<string>Bingeing and purging
</string>
<string>Ethnic cleansing
</string>
<string>Cheating in the Special Olympics
</string>
<string>Nickelback
</string>
<string>Heteronormativity
</string>
<string>William Shatner
</string>
<string>Making a pouty face
</string>
<string>Chainsaws for hands
</string>
<string>The placenta
</string>
<string>The profoundly handicapped
</string>
<string>Tom Cruise
</string>
<string>Object permanence
</string>
<string>Goblins
</string>
<string>An icepick lobotomy
</string>
<string>Arnold Schwarzenegger
</string>
<string>Hormone injections
</string>
<string>A falcon with a cap on its head
</string>
<string>Foreskin
</string>
<string>Dying
</string>
<string>Stunt doubles
</string>
<string>The invisible hand
</string>
<string>Jew-fros
</string>
<string>A really cool hat
</string>
<string>Flash flooding
</string>
<string>Flavored condoms
</string>
<string>Dying of dysyntery
</string>
<string>Sexy pillow fights
</string>
<string>The Three-Fifths compromise
</string>
<string>A sad handjob
</string>
<string>Men
</string>
<string>Historically black colleges
</string>
<string>Sean Penn
</string>
<string>Heartwarming orphans
</string>
<string>Waterboarding
</string>
<string>The clitoris
</string>
<string>Vikings
</string>
<string>Friends who eat all the snacks
</string>
<string>The Underground Railroad
</string>
<string>Pretending to care
</string>
<string>Raptor attacks
</string>
<string>A micropenis
</string>
<string>A Gypsy curse
</string>
<string>Agriculture
</string>
<string>Bling
</string>
<string>A clandestine butt scratch
</string>
<string>The South
</string>
<string>Sniffing glue
</string>
<string>Consultants
</string>
<string>My humps
</string>
<string>Geese
</string>
<string>Being a dick to children
</string>
<string>Party poopers
</string>
<string>Sunshine and rainbows
</string>
<string>YOU MUST CONSTRUCT ADDITIONAL PYLONS
</string>
<string>Mutually-assured destruction
</string>
<string>Heath Ledger
</string>
<string>Sexting
</string>
<string>An Oedipus complex
</string>
<string>Eating all of the cookies before the AIDS bake-sale
</string>
<string>A sausage festival
</string>
<string>Michael Jackson
</string>
<string>Skeletor
</string>
<string>Chivalry
</string>
<string>Sharing needles
</string>
<string>Being rich
</string>
<string>Muzzy
</string>
<string>Count Chocula
</string>
<string>Spontaneous human combustion
</string>
<string>College
</string>
<string>Necrophilia
</string>
<string>The Chinese gymnastics team
</string>
<string>Global warming
</string>
<string>Farting and walking away
</string>
<string>Emotions
</string>
<string>Uppercuts
</string>
<string>Cookie Monster devouring the Eucharist wafers
</string>
<string>Stifling a giggle at the mention of Hutus and Tutsis
</string>
<string>Penis envy
</string>
<string>Letting yourself go
</string>
<string>White people
</string>
<string>Dick Cheney
</string>
<string>Leaving an awkward voicemail
</string>
<string>Yeast
</string>
<string>Natural selection
</string>
<string>Masturbation
</string>
<string>Twinkies (r)
</string>
<string>A LAN Party
</string>
<string>Opposable thumbs
</string>
<string>A grande sugar-free iced soy caramel macchiato
</string>
<string>Soiling oneself
</string>
<string>A sassy black woman
</string>
<string>Sperm whales
</string>
<string>Teaching a robot to love
</string>
<string>Scrubbing under the folds
</string>
<string>A drive-by shooting
</string>
<string>Whipping it out
</string>
<string>Panda sex
</string>
<string>Catapults
</string>
<string>Will Smith
</string>
<string>Toni Morrison's vagina
</string>
<string>Five-Dollar Foot-longs (tm)
</string>
<string>Land minds
</string>
<string>A sea of troubles
</string>
<string>A zesty breakfast burrito
</string>
<string>Christopher Walken
</string>
<string>Friction
</string>
<string>Balls
</string>
<string>AIDS
</string>
<string>The KKK
</string>
<string>Figgy pudding
</string>
<string>Seppuku
</string>
<string>Marky Mark and the Funky Bunch
</string>
<string>Gandhi
</string>
<string>Dave Matthews Band
</string>
<string>Preteens
</string>
<string>The token minority
</string>
<string>Friends with benefits
</string>
<string>Re-gifting
</string>
<string>Pixelated bukkake
</string>
<string>Substitute teachers
</string>
<string>Take-backsies
</string>
<string>A thermonuclear detonation
</string>
<string>The Tempur-Pedic (r) Swedish Sleep System (tm)
</string>
<string>Waiting 'til marriage
</string>
<string>A tiny horse
</string>
<string>A can of whoop-ass
</string>
<string>Dental dams
</string>
<string>Feeding Rosie O'Donnell
</string>
<string>Old-people smell
</string>
<string>Genghis Khan
</string>
<string>Authentic Mexican cuisine
</string>
<string>Oversized lollipops
</string>
<string>Garth Brooks
</string>
<string>Keanu Reeves
</string>
<string>Drinking alone
</string>
<string>The American Dream
</string>
<string>Taking off your shirt
</string>
<string>Giving 110%
</string>
<string>Flesh-eating bacteria
</string>
<string>Child abuse
</string>
<string>A cooler full of organs
</string>
<string>A moment of silence
</string>
<string>The Rapture
</string>
<string>Keeping Christ in Christmas
</string>
<string>RoboCop
</string>
<string>That one gay Teletubby
</string>
<string>Sweet, sweet vengeance
</string>
<string>Fancy Feast (r)
</string>
<string>Pooping back and forth. Forever.
</string>
<string>Being a motherfucking sorcerer
</string>
<string>Jewish fraternities
</string>
<string>Edible underpants
</string>
<string>Poor people
</string>
<string>All-you-can-eat shrimp for $4.99
</string>
<string>Britney Spears at 55
</string>
<string>That thing that electrocutes your abs
</string>
<string>The folly of man
</string>
<string>Fiery poops
</string>
<string>Cards Against Humanity
</string>
<string>A murder most foul
</string>
<string>Me time
</string>
<string>The inevitable heat death of the universe
</string>
<string>Nocturnal emissions
</string>
<string>Daddy issues
</string>
<string>The hardworking Mexican
</string>
<string>Natalie Portman
</string>
<string>Waking up half-naked in a Denny's parking lot
</string>
<string>Nipple blades
</string>
<string>Assless chaps
</string>
<string>Full frontal nudity
</string>
<string>Hulk Hogan
</string>
<string>Passive-aggression
</string>
<string>Ronald Reagan
</string>
<string>Vehicular manslaughter
</string>
<string>Menstruation
</string>
<string>Pulling out
</string>
<string>Picking up girls at the abortion clinc
</string>
<string>The homosexual agenda
</string>
<string>The Holy Bible
</string>
<string>World peace
</string>
<string>Dropping a chandelier on your enemies and riding the rope up
</string>
<string>Testicular torsion
</string>
<string>The milk man
</string>
<string>A time-travel paradox
</string>
<string>Hot Pockets (r)
</string>
<string>Guys who don't call
</string>
<string>Eating the last known bison
</string>
<string>Darth Vader
</string>
<string>Scalping
</string>
<string>Homeless people
</string>
<string>The World of Warcraft
</string>
<string>Gloryholes
</string>
<string>Saxophone solos
</string>
<string>Sean Connery
</string>
<string>God
</string>
<string>Intelligent design
</string>
<string>The taint; the grundle; the fleshy fun-bridge
</string>
<string>Friendly fire
</string>
<string>Keg stands
</string>
<string>Eugenics
</string>
<string>A good sniff
</string>
<string>Lockjaw
</string>
<string>A neglected Tamagotchi (tm)
</string>
<string>The People's Elbow
</string>
<string>Robert Downey, Jr.
</string>
<string>The heart of a child
</string>
<string>Seduction
</string>
<string>Smallpox blankets
</string>
<string>Licking things to claim them as your own
</string>
<string>A salty surprise
</string>
<string>Poorly-timed Holocaust jokes
</string>
<string>My soul
</string>
<string>My sex life
</string>
<string>Pterodactyl eggs
</string>
<string>Altar boys
</string>
<string>Forgetting the Alamo
</string>
<string>72 virgins
</string>
<string>Raping and pillaging
</string>
<string>Pedophiles
</string>
<string>Eastern European Turbo-folk music
</string>
<string>A snapping turtle biting the tip of your penis
</string>
<string>Pabst Blue Ribbon
</string>
<string>Domino's (tm) Oreo (tm) Dessert Pizza
</string>
<string>My collection of high-tech sex toys
</string>
<string>A middle-aged man on roller skates
</string>
<string>The Blood of Christ
</string>
<string>Half-assed foreplay
</string>
<string>Free samples
</string>
<string>Douchebags on their iPhones
</string>
<string>Hurricane Katrina
</string>
<string>Wearing underwear inside-out to avoid doing laundry
</string>
<string>Republicans
</string>
<string>The glass ceiling
</string>
<string>A foul mouth
</string>
<string>Jerking off into a pool of children's tears
</string>
<string>Getting really high
</string>
<string>The deformed
</string>
<string>Michelle Obama's arms
</string>
<string>Explosions
</string>
<string>The Übermensch
</string>
<string>Donald Trump
</string>
<string>Sarah Palin
</string>
<string>Attitude
</string>
<string>This answer is postmodern
</string>
<string>Crumpets with the Queen
</string>
<string>Frolicking
</string>
<string>Team-building exercises
</string>
<string>Repression
</string>
<string>Road head
</string>
<string>A bag of magic beans
</string>
<string>An asymmetric boob job
</string>
<string>Dead parents
</string>
<string>Public ridicule
</string>
<string>A mating display
</string>
<string>A mime having a stroke
</string>
<string>Stephen Hawking talking dirty
</string>
<string>African children
</string>
<string>Mouth herpes
</string>
<string>Overcompensation
</string>
<string>Bill Nye the Science Guy
</string>
<string>Bitches
</string>
<string>Italians
</string>
<string>Have some more kugel
</string>
<string>A windmill full of corpses
</string>
<string>Her Royal Highness, Queen Elizabeth II
</string>
<string>Crippling debt
</string>
<string>Adderall (tm)
</string>
<string>A stray pube
</string>
<string>Shorties and blunts
</string>
<string>Passing a kidney stone
</string>
<string>Prancing
</string>
<string>Leprosy
</string>
<string>A brain tumor
</string>
<string>Bees?
</string>
<string>Puppies!
</string>
<string>Cockfights
</string>
<string>Kim Jong-Il
</string>
<string>Hope
</string>
<string>8 oz. of sweet Mexican black-tar heroin
</string>
<string>Incest
</string>
<string>Grave robbing
</string>
<string>Asians who aren't good at math
</string>
<string>Alcoholism
</string>
<string>(I am doing Kegels right now.)
</string>
<string>Justin Bieber
</string>
<string>The Jews
</string>
<string>Bestiality
</string>
<string>Winking at old people
</string>
<string>Drum circles
</string>
<string>Kids with ass cancer
</string>
<string>Loose lips
</string>
<string>Auschwitz
</string>
<string>Civilian casualties
</string>
<string>Inappropriate yodeling
</string>
<string>Tangled Slinkys
</string>
<string>Being on fire
</string>
<string>The Thong Song
</string>
<string>A vajazzled vagina
</string>
<string>Riding off into the sunset
</string>
<string>Exchanging pleasantries
</string>
<string>My relationship status
</string>
<string>Shaquille O'Neals's acting career
</string>
<string>Being fabulous
</string>
<string>Lactation
</string>
<string>Not reciprocating oral sex
</string>
<string>Sobbing into a Hungry-Man (r) Frozen Dinner
</string>
<string>My genitals
</string>
<string>Date rape
</string>
<string>Ring Pops (tm)
</string>
<string>GoGurt
</string>
<string>Judge Judy
</string>
<string>Lumberjack fantasies
</string>
<string>The gays
</string>
<string>Scientology
</string>
<string>Estrogen
</string>
<string>Police brutality
</string>
<string>Passable transvestites
</string>
<string>The Virginia Tech Massacre
</string>
<string>Tiger Woods
</string>
<string>Dick fingers
</string>
<string>Racism
</string>
<string>Glenn Beck being harried by a swarm of buzzards
</string>
<string>Surprise sex!
</string>
<string>Classist undertones
</string>
<string>Booby-trapping the house to foil burglars
</string>
<string>New Age music
</string>
<string>PCP
</string>
<string>A lifetime of sadness
</string>
<string>Doin' it in the butt
</string>
<string>Swooping
</string>
<string>The Hamburglar
</string>
<string>Tentacle porn
</string>
<string>A hot mess
</string>
<string>Too much hair gel
</string>
<string>A look-see
</string>
<string>Not giving a shit about the Third World
</string>
<string>American Gladiators
</string>
<string>The Kool-Aid man
</string>
<string>Mr Snuffleupagus
</string>
<string>Barack Obama
</string>
<string>Golden showers
</string>
<string>Wiping her butt
</string>
<string>Queefing
</string>
<string>Getting drunk on mouthwash
</string>
<string>An M. Night Shyamalan plot twist
</string>
<string>A robust mongoloid
</string>
<string>Nazis
</string>
<string>White privilege
</string>
<string>An erection that lasts longer than four hours
</string>
<string>A disappointing birthday party
</string>
<string>Puberty
</string>
<string>Two midgets shitting in a bucket
</string>
<string>Wifely duties
</string>
<string>The forbidden fruit
</string>
<string>Getting so angry that you pop a boner
</string>
<string>Sexual tension
</string>
<string>Third base
</string>
<string>A gassy antelope
</string>
<string>Those times when you get sand in your vagina
</string>
<string>A Super Soaker (tm) full of cat pee
</string>
<string>Muhammad (Praise Be Unto Him)
</string>
<string>Racially-biased SAT questions
</string>
<string>Porn stars
</string>
<string>A fetus
</string>
<string>Obesity
</string>
<string>When you fart and a little bit comes out
</string>
<string>Oompa-Loompas
</string>
<string>BATMAN!!!
</string>
<string>Black people
</string>
<string>Tasteful sideboob
</string>
<string>Hot people
</string>
<string>Grandma
</string>
<string>Copping a feel
</string>
<string>The Trail of Tears
</string>
<string>Famine
</string>
<string>Finger painting
</string>
<string>The miracle of childbirth
</string>
<string>Goats eating cans
</string>
<string>A monkey smoking a cigar
</string>
<string>Faith healing
</string>
<string>Parting the Red Sea
</string>
<string>Dead babies
</string>
<string>The Amish
</string>
<string>Impotence
</string>
<string>Child beauty pageants
</string>
<string>Centaurs
</string>
<string>AXE Body Spray
</string>
<string>Kanye West
</string>
<string>Women's suffrage
</string>
<string>Children on leashes
</string>
<string>Harry Potter erotica
</string>
<string>The Dance of the Sugar Plum Fairy
</string>
<string>Lance Armstrong's missing testicle
</string>
<string>Dwarf tossing
</string>
<string>Mathletes
</string>
<string>Lunchables (tm)
</string>
<string>Women in yogurt commercials
</string>
<string>John Wilkes Booth
</string>
<string>Powerful thighs
</string>
<string>Mr. Clean, right behind you
</string>
<string>Multiple stab wounds
</string>
<string>Cybernetic enhancements
</string>
<string>Serfdom
</string>
<string>Another god-damn vampire movie
</string>
<string>Glenn Beck catching his scrotum on a curtain hook
</string>
<string>A big hoopla about nothing
</string>
<string>Peeing a little bit
</string>
<string>The Hustle
</string>
<string>Ghosts
</string>
<string>Bananas in Pajamas
</string>
<string>Active listening
</string>
<string>Dry heaving
</string>
<string>Kamikaze pilots
</string>
<string>The Force
</string>
<string>Anal beads
</string>
<string>The Make-A-Wish (r) Foundation</string>
</array>
</plist>

