<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SUGGESTION</key>
	<array>
		<string>@TAgainstH Cool Game Bro</string>
	</array>
	<key>HELP</key>
	<array>
		<string>@TAgainstH FFFFFFFUUUUUUUUUUUUU</string>
	</array>
	<key>AVAILABLE</key>
	<array>
		<string>Available Games</string>
	</array>
	<key>MYGAMES</key>
	<array>
		<string>My Games</string>
	</array>
	<key>FINISH</key>
	<array>
		<string>Finished</string>
	</array>
	<key>SEND_WHITE_CARD</key>
	<array>
		<string>Just played on your black card.</string>
	</array>
</dict>
</plist>
